body {
	text-align:center;
	background: #00E6FF;
}
#container{
	background-color: #fff;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}
.completed{
	color: black;
	text-decoration: line-through;
}
ul {
	list-style: none;
}
.x {
	float: left;
}
.x:hover{
	color: red;
	
}